.App {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

body {
	padding: 10vh 32px;
	font-size: 14px;
	background: #eee;
	text-align: center;
}

.file-input-container {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.file-input {
	display: inline-block;
	text-align: left;
	background: #fff;
	padding: 16px;
	width: 450px;
	position: relative;
	border-radius: 3px;
}

.file-input > [type='file'] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
	cursor: pointer;
}

.file-input > .button {
	display: inline-block;
	cursor: pointer;
	background: #eee;
	padding: 8px 16px;
	border-radius: 2px;
	margin-right: 8px;
}

.file-input:hover > .button {
	background: dodgerblue;
	color: white;
}

.file-input > .label {
	color: #333;
	white-space: nowrap;
	opacity: .3;
}

.file-input.-chosen > .label {
	opacity: 1;
}

.result-container {
	text-align: left;
	padding: 16px;
	background: #fff;
	width: 400px;
	border-radius: 3px;
}

.result-table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
